body{
    background-color: rgb(44, 59, 59);
    color:rgb(73, 82, 90);
    font-family: "Bai Jamjuree", sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: aquamarine;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}